.fondo {
 background-image: url("https://wallpaperaccess.com/full/221443.jpg");
 background-position: center;
 background-size: cover;
 position: fixed;

 width: 407px;
 height: 240px;
 margin-left: 780px;
}
.titulo {
 display: flex;
 align-items: center;
 background-color: rgba(78, 78, 78, 0.664);
 height: 55px;
 color: aliceblue;
 font-size: 25px;
 padding-left: 20px;
}
.total h1 {
 font-weight: bold;
 color: #ffffff;
 font-size: 25px;
}
.total p {
 color: #ffffff;
 font-size: 25px;
}
.total {
 display: flex;
 justify-content: space-around;
 align-items: end;
 height: 50%;
}

.button {
 display: inline-block;
 border-radius: 4px;
 background-color: #f0c040;
 border: none;
 color: #ffffff;
 text-align: center;
 font-size: 28px;
 height: 60px;
 width: 100%;
 transition: all 0.5s;
 cursor: pointer;
 margin-top: 15px;
}
.button span {
 cursor: pointer;
 display: inline-block;
 position: relative;
 transition: 0.5s;
}
.button span:after {
 content: "\00bb";
 position: absolute;
 opacity: 0;
 top: 0;
 right: -20px;
 transition: 0.5s;
}
.button:hover span {
 padding-right: 25px;
}

.button:hover span:after {
 opacity: 1;
 right: 0;
}
/* Estilos para el modal de redireccion alogin si no esta logueado */
.modalOverlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modalContent {
    position: relative;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    max-width: 400px;
    width: 80%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .modalContent p {
    margin-bottom: 10px;
  }
  
  .modalContent button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .modalContent button:last-child {
    margin-right: 0;
  }