/* Estilos para el contenedor principal */


  
/* Admin.css */
.admin-container {
  display: flex;
margin: 0;
height: 80vh;
}

.botones-columna {
  flex: 1;
  padding: 10px;
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
justify-content: space-evenly;
  height: 100%;
  

}

.botones-columna button {
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #ccc;
}

.botones-columna button.selected {
  background: #424242;
  color: #fff;
}

.contenido-columna {
  flex: 3;
  padding: 10px;
}
.admin_contenido{
  height: 100%;
  margin: 0;
  padding: 0;

}
